<section id="contato" class="section cta">
  <div class="section__container text-center cta__content">
    <div class="cta__faq" appFadeIn [appFadeInDelay]="1">
      <p class="cta__practical-title">Dúvidas frequentes</p>
      <div class="cta__faq-list">
        <div class="cta__faq-item">
          <p class="cta__faq-question">Qual a duração da sessão?</p>
          <p class="cta__faq-answer">
            Cada sessão tem duração de 50 minutos.
          </p>
        </div>
        <div class="cta__faq-item">
          <p class="cta__faq-question">Como funciona o pagamento?</p>
          <p class="cta__faq-answer">
            O pagamento é feito de forma antecipada, até 5 minutos antes do início da nossa sessão.
          </p>
        </div>
        <div class="cta__faq-item">
          <p class="cta__faq-question">E se eu precisar desmarcar?</p>
          <p class="cta__faq-answer">
            A análise exige continuidade e compromisso. Você pode desmarcar sem custos com até 24 horas de antecedência.
            Caso o aviso ocorra após esse prazo, será cobrada metade do valor da sessão para cobrir os custos de reserva
            do espaço e da agenda.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>