<section id="contato" class="section cta">
  <div class="section__container text-center cta__content">
    <div class="cta__faq" appFadeIn [appFadeInDelay]="1">
      <p class="cta__practical-title">Compromisso e Pontualidade: Como Funciona Nosso Atendimento</p>
      <div class="cta__faq-list">
        <div class="cta__faq-item">
          <p class="cta__faq-answer">Para que o seu processo analítico ocorra com a dedicação e a profundidade
            necessárias,
            cada sessão é planejada individualmente.</p>

          <p class="cta__faq-answer">O horário reservado para você é exclusivo, demandando preparação técnica e
            organização prévia do consultório.</p>

          <p class="cta__faq-answer">Com o objetivo de manter a viabilidade dessa estrutura e estender o respeito a
            todos
            os pacientes, adotamos a seguinte política de agendamento:</p>

          <p class="cta__faq-answer"><strong>Prazo para cancelamento:</strong> Caso precise desmarcar ou reagendar,
            avise com
            antecedência mínima de 24 horas.</p>

          <p class="cta__faq-answer"><strong>Taxa de ausência:</strong> Cancelamentos feitos após esse prazo, ou o não
            comparecimento, geram a cobrança de 50% do valor da sessão.</p>

          <p class="cta__faq-answer"><strong>Motivo:</strong> Esse valor cobre os custos operacionais de manutenção do
            horário
            que ficou ocioso e impossibilitado de ser ofertado a outro paciente.</p>

          <p class="cta__faq-answer">Agradeço a compreensão e a parceria na construção de um espaço terapêutico
            eficiente,
            ético e pontual para todos.</p>
        </div>
      </div>
    </div>
  </div>
</section>