<section id="contato" class="section cta">
  <div class="section__container text-center cta__content">
    <div class="cta__practical" appFadeIn [appFadeInDelay]="1">
      <p class="cta__practical-title">Informações práticas</p>
      <ul class="cta__practical-list">
        <li>Sessões de [X] minutos.</li>
        <li>Pagamento via Pix, garantindo fluidez e organização da agenda.</li>
        <li>Pagamento antecipado (até 10 minutos antes da sessão) ou no ato do atendimento.</li>
      </ul>
    </div>
  </div>
</section>