<section id="reflexoes" class="section section--alt reflections">
  <div class="section__container text-center">
    <span class="section__label" appFadeIn>Reflexões</span>
    <div class="gold-line gold-line--center" appFadeIn></div>

  </div>

  <div class="reflections__list section__container">
    @for (item of reflections; track item.title; let i = $index) {
    <div class="reflections__card" appFadeIn [appFadeInDelay]="i + 1">
      <div class="reflections__quote-mark">"</div>
      <blockquote class="reflections__text">
        {{ item.text }}
      </blockquote>
      <div class="reflections__divider"></div>
      @if (item.title && item.showTitle !== false) {
      <cite class="reflections__cite">{{ item.title }}</cite>
      }
    </div>
    }
  </div>
</section>